.App {
  text-align: center;
  background-color: #f8f8ff;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 35px;
}

.App-link {
  color: #61dafb;
}

.usercard, .followers {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 15px;
  width: 350px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
}

img {
  width: 90%;
}

.user {
  display: flex;
  justify-content: center;
}

.followercards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 30px;
  margin-top: 60px;
  color: black;
}